@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
:root {
  --accent: #34495e;
  --bc-light: #37393a;
  --bc-dark: #282b2b;

}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;
}

body {
  font-family: montserrat, sans-serif;
  color: white;
  height: 120vh;
  /*Hides scrollbar*/
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none
}

.fourhundred-px-or-smaller {
 display: none;
}

nav {
  height: 64px;
  width: 100%;
  background-color: var(--accent);
}

.hero {
    background-color: var(--bc-dark);
    height: 500px;
    width: 100vw;
}

label.logo {
  font-size: 32px;
  font-weight: bold;
  padding: 0 100px;
  line-height: 64px;
}

nav ul {
  float: right;
  margin-right: 40px;
}

nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 64px;
}

nav, nav li {
  overflow-y: hidden;
}

nav a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

a.active,
a:hover {
  border: 1px solid white;
  transition: 0.5s;
}

a.premium {
  border: 1px solid yellow;
  background-color: rgba(209, 209, 21, 0.534);
}

nav #icon {
  font-size: 30px;
  float: right;
  line-height: 64px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.div1 {
    width: 50vw;
    height: 500px;
}

.catchphrase {
    max-width: 40vw;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.invite-button {
  width: 100px;
  height: 50px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bc-light);
  height: 150px;
  width: 100vw;
}

.features h3 {
  font-size: 34px;
}

.features p {
  color: silver;
  font-size: 22px;
}

.hero > *, .features > * {
  margin-left: 20px;
}

.features-container {
  position: absolute;
  z-index: 0;
  display: flex;
  width: 100vw;
  height: calc(120vh - 714px);
  top: 714px;
  bottom: 0;
  background-color: var(--bc-dark);
}

@media screen and (max-width: 1600px) and (min-width: 1200px) {
  .div1, .catchphrase {
    max-width: 60vw;
  }
}

@media (max-width: 1048px) {
  label.logo {
    padding: 0 60px;
  }

  nav ul {
    margin-right: 20px;
  }

  nav a {
    font-size: 17px;
  }
}

@media (max-width: 909px) {
  nav #icon {
    display: block;
  }

  nav ul {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2f3640;
    top: 64px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav a {
    font-size: 20px;
  }

  a.active,
  a:hover {
    border: none;
    color: #3498db;
  }

  a.premium {
    border: none;
    background: none;
    color: rgba(209, 209, 21, 0.534);
  }

  nav ul.show {
    left: 0;
  }

  .div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }

  .div1, .catchphrase {
    width: 80vw;
  }

  .div1 > * {
    align-self: center;
  }
}

@media (max-width: 648px) {
  .div1, .catchphrase {
    max-width: 100vw;
  }
}

@media (max-width: 400px) {
  .bigger-than-400px {
    display: none;
  }
  .fourhundred-px-or-smaller {
    display: block;
  }
}
