@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  overflow: hidden;
}

body {
  font-family: montserrat, sans-serif;
}

nav {
  height: 64px;
  width: 100%;
  background-color: #34495e;
}

.hero {
    background-color: #4c4e50;
    color: white;
    height: 500px;
    width: 100vw;
}

label.logo {
  font-size: 32px;
  font-weight: bold;
  color: white;
  padding: 0 100px;
  line-height: 64px;
}

nav ul {
  float: right;
  margin-right: 40px;
}

nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 64px;
}

nav a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

a.active,
a:hover {
  border: 1px solid white;
  transition: 0.5s;
}

nav #icon {
  -webkit-tap-highlight-color: transparent;
  color: white;
  font-size: 30px;
  float: right;
  line-height: 64px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.div1 {
    max-lines: 3;
    margin-top: 35px;
    margin-left: 25px;
    /* text-align: center; */
    width: 100vw;
    height: 500px;
    float: left;
    /* background-color: orange; */
    
}

.catchphrase {
    font-size: 35px;
    max-width: 40vw;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.perks {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.perk {
    margin-top: 5px;
    margin-bottom: 5px;
}

.perk::before {
    content: "\2022";
    color: green;
    width: 1em;
    font-weight: bolder;
    margin-right: 0.5em;
}



@media (max-width: 1048px) {
  label.logo {
    padding-left: 60px;
  }

  nav ul {
    margin-right: 20px;
  }

  nav a {
    font-size: 17px;
  }
}

.catchphrase {
    max-width: 50vw;
}

@media (max-width: 909px) {
  nav #icon {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2f3640;
    top: 64px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav a {
    font-size: 20px;
  }

  a.active,
  a:hover {
    border: none;
    color: #3498db;
  }

  nav ul.show {
    left: 0;
  }
}
